{% load django_bootstrap5 static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}GEDCOM-Stammbaum{% endblock %}</title>

        <!-- Bootstrap-CSS über das django_bootstrap5-Tag -->
        {% bootstrap_css %}

        <link rel="stylesheet"
            href="{% static 'my.css' %}">

        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

        {% block extra_head %}{% endblock %}
    </head>

    <body class="bg-light">

        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'genview:tree-list' %}">Stammbaum</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Navigation umschalten">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            {% if tree_id %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Data</a>
                                <ul class="dropdown-menu dropdown-menu-end shadow">
                                    <li><a class="dropdown-item" href="{% url 'genview:individual-list' tree_id %}">👤 Personen</a></li>
                                    <li><a class="dropdown-item" href="{% url 'genview:family-list' tree_id %}">👪 Familien</a></li>
                                    <li><a class="dropdown-item" href="{% url 'genview:event-list' tree_id %}">📅 Ereignisse</a></li>
                                    <li><a class="dropdown-item" href="{% url 'genview:place-list' tree_id %}">🌍 Orte</a></li>
                                    <li><a class="dropdown-item" href="{% url 'genview:media-list' tree_id %}">📷 Medien</a></li>
                                    <li><a class="dropdown-item" href="{% url 'genview:source-list' tree_id %}">📚 Quellen</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Signed in as {{ user.username }}</a>
                                <ul class="dropdown-menu dropdown-menu-end shadow">
                                    <li><a class="dropdown-item" href="{% url 'genview:tree-list' %}">Stammbäume</a></li>
                                    {% if user.is_authenticated and tree_id %}
                                        <li><a class="dropdown-item" href="{% url 'genview:bulk-media-upload' tree_id %}">📷 bulk upload</a></li>
                                        <li><a class="dropdown-item" href="{% url 'genview:manage-event-types' tree_id %}">📅 event types</a></li>
                                        <li><a class="dropdown-item" href="{% url 'genview:manage-memberships' tree_id %}">⚙️ manage tree</a></li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    {% if user.is_superuser %}
                                        <li><a class="dropdown-item" href="{% url 'genview:gedcom-import' %}">📂 import gedcom</a></li>
                                        <li><a class="dropdown-item" href="{% url 'genview:user-management-list' %}">🧑‍💼 users</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    <li>
                                        <li><a class="dropdown-item" href="{% url 'two_factor:profile' %}">🪪 Account Sicherheit</a></li>
                                    </li>
                                    <li>
                                        <form method="post" action="{% url 'genview:logout' %}" class="m-0 p-0 d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item text-danger">
                                                🚪 Logout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'two_factor:login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'genview:register' %}">Register</a>
                            </li>
                            {% endif %}
                            {% if tree_id %}
                            <li>
                                <form class="d-flex" action="{% url 'genview:global-search' tree_id=tree_id %}" method="get">
                                    <input class="form-control me-2" type="search" name="q" placeholder="Stammbaum durchsuchen..." aria-label="Search">
                                    <button class="btn btn-outline-light" type="submit">🔍</button>
                                </form>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-globe"></i> {{ LANGUAGE_CODE|upper }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                                    {% for language in languages %}
                                    <li>
                                        <form action="{% url 'set_language' %}" method="post" class="m-0 p-0">
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ request.get_full_path }}">
                                            <input name="language" type="hidden" value="{{ language.code }}">
                                            
                                            <button type="submit" class="dropdown-item {% if language.code == LANGUAGE_CODE %}active fw-bold{% endif %}">
                                                {{ language.name_local }} ({{ language.code|upper }})
                                            </button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% bootstrap_messages %}
        </div>

        <div class="container-fluid mt-4">
            <main>
                {% block content %}
        
                {% endblock %}
            </main>
        </div>

        <div class="container-fluid">
            <footer
                class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
            >
                <p class="col-md-4 mb-0 text-body-secondary">
                &copy; 2025 Company, Inc
                </p>
                <a
                href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                aria-label="Bootstrap"
                >
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                </a>
                <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">About</a>
                </li>
                </ul>
            </footer>
        </div>
        {% block extra_js %}

        {% endblock %}

        {% bootstrap_javascript %}
    </body>
</html>