{% extends "genview/base.html" %}

{% block title %}
    {% if object %}Eventtype bearbeiten{% else %}Neuen EventType hinzufügen{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        EventType bearbeiten
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                        
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'genview:eventtype-list' %}" class="btn btn-outline-secondary">Abbrechen</a>
                            <button type="submit" class="btn btn-success">
                                {% if object %}Änderungen speichern{% else %}EventType speichern{% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}