{% load l10n %}
{% load i18n %}

{% if apply_privacy and individual.is_confidential %}
    <span class="text-muted fst-italic">🔒 {% trans "vertraulich" %}</span>
{% else %}
    <a href="{{ individual.get_absolute_url }}" class="text-decoration-none text-dark">
        {{ individual.short_given_name }} <span class="fw-semibold">{{ individual.surname }}</span>
    </a>

    {% if individual.birth_date %}
        <small class="text-muted ms-2">* {{ individual.birth_date|date:"Y" }}</small>
    {% elif individual.birth_date_raw %}
        <span class="badge bg-secondary">{{ individual.birth_date_raw }}</span>
    {% else %}
        <span class="text-muted">-</span>
    {% endif %}
    
    {% if individual.death_date %}
        <small class="text-muted ms-2">+ {{ individual.death_date|date:"Y" }}</small>
    {% elif individual.death_date_raw %}
        <span class="badge bg-secondary">{{ individual.death_date_raw }}</span>
    {% else %}
        <span class="text-muted">-</span>
    {% endif %}

{% endif %}