{% extends "genview/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row p-2">
            <h1>My Family Trees</h1>
        </div>
    </div>
  
        {% for tree in trees %}
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card">
                <h5 class="card-title">{{ tree.name }}</h5>
                <div class="card-text">
                    Imported on: {{ tree.created_at|date:"F j, Y" }}
                </div>
                {% if tree.description %}
                    <p>{{ tree.description }}</p>
                {% endif %}
                
                <a href="{% url 'genview:individual-list' tree_id=tree.id %}" class="btn btn-primary">
                    Open Tree &rarr;
                </a>
            </div>
        </div>
        
        {% empty %}
            <div style="grid-column: 1 / -1; background: white; padding: 30px; border-radius: 8px; text-align: center;">
                <h3>No trees found</h3>
                <p>You do not have access to any family trees yet. An administrator needs to import a GEDCOM file and assign you access.</p>
            </div>
        {% endfor %}

{% endblock %}